<div class="container-fluid">
    <div class="row">
      <div class="col-md-9 col-pad">
        <div class="first">
          <app-logo-bar></app-logo-bar>

        </div>

      </div>

      <div class="col-md-3 second">
        <div class="second">
            <div class="card-top">
            <p class="text-center align">Seleccione Año <img class="img-top"  height="" width="" src="../../../assets/img/arrow_bottom.png" alt="..."></p>  
            </div>
            <div class="card-element" (click)="goDetail()">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative img-thumbnail element  ">
                <div class="col-auto d-none d-lg-block">
                  <img  height="150px" width="120px" src="../../../assets/img/img_small_1.jpg" alt="...">
                 </div>
                 <div class="col p-4 d-flex flex-column position-static">
                 
                   <p class="card-text mb-auto">dsds dsdsd ddsd dsd s dsdsdsd dsdsds dsdsds dsdsdd dsdsdsd dsdddd</p>
               
                 </div>
                
               </div>
          </div>

          <div class="card-element" (click)="goDetail()">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative img-thumbnail element  ">
              <div class="col-auto d-none d-lg-block">
                <img  height="150px" width="120px" src="../../../assets/img/img_small_2.jpg" alt="...">
               </div>
               <div class="col p-4 d-flex flex-column position-static">
               
                 <p class="card-text mb-auto">dsds dsdsd ddsd dsd s dsdsdsd dsdsds dsdsds dsdsdd dsdsdsd dsdddd</p>
             
               </div>
              
             </div>
        
        </div>

        <div class="card-element" (click)="goDetail()">
            
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative img-thumbnail element  ">
            <div class="col-auto d-none d-lg-block">
              <img  height="150px" width="120px" src="../../../assets/img/img_small_3.jpg" alt="...">
             </div>
             <div class="col p-4 d-flex flex-column position-static">
             
               <p class="card-text mb-auto">dsds dsdsd ddsd dsd s dsdsdsd dsdsds dsdsds dsdsdd dsdsdsd dsdddd</p>
           
             </div>
            
           </div>
      
      </div>

      <div class="card-element" (click)="goDetail()">
            
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative img-thumbnail element  ">
          <div class="col-auto d-none d-lg-block">
            <img  height="150px" width="120px" src="../../../assets/img/img_small_4.jpg" alt="...">
           </div>
           <div class="col p-4 d-flex flex-column position-static">
           
             <p class="card-text mb-auto">dsds dsdsd ddsd dsd s dsdsdsd dsdsds dsdsds dsdsdd dsdsdsd dsdddd</p>
         
           </div>
          
         </div>
    
    </div>
          

    </div>

    </div>

    </div>


</div>
