.title-play {
   color: white;
}
div.jumbotron{
    margin-bottom: 0;
 }

 .nav-top {
    border-top: 1px;
 }

 .body {
    background-color: #EFF1F6;
 }

 .text-front {
    color: #12307B;
    text-align: center;
 }

 .orange {
    color: #F78928;
 }

 
 ol.breadcrumb{
   margin-bottom: 0;

  }

 .orange-btn{
    background-color: #F78928;
    border-radius: 25px;
    border-color:  #F78928;
 }

 .nav-home nav-top {
    margin-top: 1px !important;
 }

 span.carousel-control-next-icon{
   color:black !important;
}

a.carousel-control-next{
   color:black !important;
}

.col-lf{
   margin-left:260px !important;
}

 .home-image{
   margin: 30px 10px 10px 60px;
   align-items: center;
   

 }
 