

<div class="container-fluid">
    <div class="row">
   <div class="col-md-11">
<div class="jumbotron">
    <div class="container">
      <h1 class="display-3 title-play">CAMPEÓN DE CAMPEONES</h1>
      <p class="title-play">Un campeonato que encuentra a todos los campeones a nivel nacional, </p>
      <p class="title-play">reúne los mejores criadores.Gallos Perú.</p>
    </div>
  </div>
  <div style="--bs-breadcrumb-divider: '';" aria-label="breadcrumb" class="nav-home nav-top">
    <ol class="breadcrumb">
      <li class="breadcrumb-item graytwo text-front">Inicio</li>
      <li class="breadcrumb-item  graytwo text-front" aria-current="page">Campeonatos realizados</li>
   
    </ol>
</div>

<div class="row">
    <div class="col-md-12 col-back">

        <h4 class="text-left text-front title-up part-left">Información de los campeonatos en competencia <i class="bi bi-align-center"></i></h4>

    </div>



</div>

<div class="row">
    <div class="col-md-12 col-back">

        <p>  <strong class="text-front part-left2">16 Partipantes</strong>   
          
          
     <span class="champ">   
      <div class="btn-group">
          <button type="button" class="btn btn-light border-btn">Región</button>
          <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split border-btn" data-toggle="dropdown">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Región</a>
            <a class="dropdown-item" href="#">Región</a>
          </div>
        </div>
      </span>       
      
      <span class="span-float">

        <div class="btn-group">
          <button type="button" class="btn btn-light border-btn">Campeonatos</button>
          <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split border-btn" data-toggle="dropdown">
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Campeonatos</a>
            <a class="dropdown-item" href="#">Campeonatos</a>
          </div>
        </div>
      </span>                
    
    
    </p>

    </div>



</div>

<div class="container-fluid campeonatos"> 
  <div class="row">
  <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img  height="225px" width="100%" src="../../../assets/img/img_small_8.jpg" alt="...">
        <div class="card-body">
          <h4 class="card-title text-front tex-center">ASOC. DE GALLEROS CUZCO CAMPEONATO INTI RAYMI 2019</h4>
          <div class="d-flex justify-content-between align-items-center card-btn">
          
            <div class="btn-group ">
              <button type="button" class="btn btn-sm btn-secondary orange-btn" (click)="goTour()">VER MÁS</button>
          
            </div>
    
           
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img  height="225px" width="100%" src="../../../assets/img/img_small_9.jpg" alt="...">
        <div class="card-body">
          <h4 class="card-title text-front tex-center">NACIONAL ABRAHAM WONG CAÑETE 2019</h4>
          <div class="d-flex justify-content-between align-items-center text-right  card-btn">
          
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-secondary orange-btn" (click)="goTour()">VER MÁS</button>
          
            </div>
          
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img  height="225px" width="100%" src="../../../assets/img/img_small_10.jpg" alt="...">
        <div class="card-body">
          <h4 class="card-title text-front tex-center">CÍRCULO GALLISTICO 
            DE LIMA 2019</h4>
          <div class="d-flex justify-content-between align-items-center text-right  card-btn">
            
            <div class="btn-group card-btn">
              <button type="button" class="btn btn-sm btn-secondary  orange-btn" (click)="goTour()">VER MÁS</button>
         
            </div>
        
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img  height="225px" width="100%" src="../../../assets/img/img_small_8.jpg" alt="...">
          <div class="card-body">
            <h4 class="card-title text-front tex-center">ASOC. DE GALLEROS CUZCO CAMPEONATO INTI RAYMI 2019</h4>
            <div class="d-flex justify-content-between align-items-center  card-btn">
          
              <div class="btn-group card-btn">
                <button type="button" class="btn btn-sm btn-secondary orange-btn" (click)="goTour()">VER MÁS</button>
            
              </div>
             
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img  height="225px" width="100%" src="../../../assets/img/img_small_9.jpg" alt="...">
          <div class="card-body">
            <h4 class="card-title text-front tex-center">NACIONAL ABRAHAM WONG CAÑETE 2019</h4>
            <div class="d-flex justify-content-between align-items-center text-right  card-btn">
            
              <div class="btn-group card-btn">
                <button type="button" class="btn btn-sm btn-secondary orange-btn" (click)="goTour()">VER MÁS</button>
            
              </div>
            
            </div>
          </div>
        </div>
      </div>
    
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img  height="225px" width="100%" src="../../../assets/img/img_small_10.jpg" alt="...">
          <div class="card-body">
            <h4 class="card-title text-front tex-center">CÍRCULO GALLISTICO 
              DE LIMA 2019</h4>
            <div class="d-flex justify-content-between align-items-center text-right  card-btn">
              
              <div class="btn-group card-btn">
                <button type="button" class="btn btn-sm btn-secondary  orange-btn" (click)="goTour()">VER MÁS</button>
           
              </div>
          
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
    </div>
   <div class="col-md-1">
    <!--app-sidebar></app-sidebar--> 
   </div>
  </div>
</div>