

  .sidebar__overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(27,51,90,0.5);
    z-index: 1000;
    display: none;
  }

  
  .back{
    background: url(../../../assets/img/logo_side.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }


 .sidebar__body{
  position: fixed;
   height: 750px;
   width: 850px !important;
   top: 0;
   display: flex;
     top: 0;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  left: -100%;
   transition: left 1s ease;
   z-index: 40000;
 }

 .title{
   color: black;
  }
  