<div class="container-fluid">

    <div class="row">
      <div class="col-md-9 col-pad">
        <div class="first">
          <div class="nav-scroller bg-narrow shadow-sm">
            <h2 class="title1">JUAN DIEGO GONZALEZ VIGIL</h2>
            <p class="title2">NACIONAL ABRAHAM WONG DE CAÑETE</p>
          </div>

      <div class="container"> 
          <div class="blog-post">
            <h4 class="blog-post-title p-first">El campeonato que obtienen el año pasado tiene </h4>
            <p class="blog-post-meta"><strong>un signficado importante?</strong></p> 
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
            <h4 class="blog-post-title p-second">Desde que tomastes la riendas del galpón  </h4>
            <p class="blog-post-meta"><strong>has podido ganar campeonatos importantes</strong></p> 
            <p class="blog-post-meta"><strong>como fueron esas experiencias?</strong></p> 
    
         
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            
            <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          </div>
        </div> 

        <div class="foot">
          <div class="row">  
            <div class="col-md-6 col-xs-12 first-p">
              <p class="text-center text1">ENTREVISTA</p>
            </div>
  
            <div class="col-md-6 second-p">
  
              <p class="text-center text1"  (click)="goDetail()">VIDEO</p>
            </div>
          </div>
  
          </div>
        </div>

      </div>

      <div class="col-md-3 second">
        <div class="second">
 
            <div class="card-element">
              <img  height="250px" width="301px" src="../../../assets/img/img_small_1.jpg" alt="...">
          </div>

        <div class="p-4 mb-3 element rounded card-side">
          <h5><strong>Todos los antecedentes de tu familia están ligados a esta pasión?</strong></h5>
          <p class="mb-0 text-justify">Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          <p class="mb-0 text-justify top">Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
        </div>        
    </div>
    </div>
</div>

