.title-up {
    margin-top: 40px !important;
 }


 .part-left {
    margin-left:20px;
 }

 .back {
    background-color: #F1F9F3;
    top: 70px;
   z-index:15;

 }

 .text-front {
    color: #12307B;
  
 }

 .home-image{
   position: absolute;
   margin-left: 20px;
  
   
 }

/* .back{ position:absolute; z-index:0; } */

 hr{
    border: 0.5px solid red !important;
     }  
