<div class=" back">
   <div class="row">
       <div class="col-md-12">

         <h4 class="text-left text-front title-up part-left">Participación en el torneo</h4>
        <hr>

        <figure class="figure home-image">
            <img  height="50%" width="50%" src="../../../assets/img/img_small_1.jpg" alt="...">
          </figure>

        <div>
         <img class="back" height="" width="" src="../../../assets/img/participacion.png" alt="...">

        </div>  

       </div>
    </div>

</div>
