

<div class="container-fluid"> 
   
  <!--video width="800px" autoplay muted loop id="myVideo">
    <source src="../../../assets/video/fondo_video.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video-->  
  <div class="row"> 
    <div class="col-md-10 cl1">
        

  <h1 class="graytwo one">CAMPEÓN DE CAMPEONES</h1>
  <h5 class="graytwo two">GALLOS - PERÚ</h5>
   <div class="body">
   
    <ul>
      <li><a class="active" routerLink="/entrevistas">2016|</a></li>
      <li><a routerLink="/entrevistas">2017|</a></li>
      <li><a routerLink="/entrevistas" >2018|</a></li>
      <li><a routerLink="/entrevistas">2019|</a></li>
      <li><a routerLink="/entrevistas">2020</a></li>
    </ul>
  
  
    <div class="paragraph"> 
    <h5 class="gray-color">"Nuestra historia  resumida en </h5>
    <h5 class="gray-color">unos minutos"</h5>
  </div>
    <button type="button" class="btn btn-light back-button"><span class="video">Ver video</span></button> 
  </div>
  </div>
  
  
  
  <br/>
  <div class="col-md-2">
  
 
  
  
 
  </div>
  
  </div>
  </div>
