<div class="container-fluid">
  <div class="row">
    <div class="col-md-9 col-pad">
      <div class="first">
        <div class="nav-scroller bg-narrow shadow-sm">
          <h2 class="title1">JUAN DIEGO GONZALEZ VIGIL</h2>
          <p class="title2">NACIONAL ABRAHAM WONG DE CAÑETE</p>
        </div>
       <div class="container mar-right"> 
        <div class="video">
          <img  height="100%" width="100%" src="../../../assets/img/img_big_1.jpg" alt="...">
        </div>
      </div> 
      <div class="foot mar-right">
        <div class="row mar-right">  
          <div class="col-md-6 col-xs-12 first-p">
            <p class="text-center text-pad">ENTREVISTA</p>
          </div>
          <div class="col-md-6 second-p">
            <p class="text-center text-pad">VIDEO</p>
          </div>
        </div>
        </div>
      </div>

    </div>

    <div class="col-md-3 second">
      <div class="second">
        <div class="card-top">   
          <p class="text-center align">Seleccione Año <img class="img-top"  height="" width="" src="../../../assets/img/arrow_bottom.png" alt="..."></p> 
        </div>

        <div class="card-element">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative img-thumbnail element  ">
            <div class="col-auto d-none d-lg-block">
              <img  height="150px" width="120px" src="../../../assets/img/img_small_1.jpg" alt="...">
             </div>
             <div class="col p-4 d-flex flex-column position-static">
             
               <p class="card-text mb-auto">dsds dsdsd ddsd dsd s dsdsdsd dsdsds dsdsds dsdsdd dsdsdsd dsdddd</p>
           
             </div>
            
           </div>
      
      </div>


      
      <div class="card-element">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative img-thumbnail element  ">
          <div class="col-auto d-none d-lg-block">
            <img  height="150px" width="120px" src="../../../assets/img/img_small_2.jpg" alt="...">
           </div>
           <div class="col p-4 d-flex flex-column position-static">
           
             <p class="card-text mb-auto">dsds dsdsd ddsd dsd s dsdsdsd dsdsds dsdsds dsdsdd dsdsdsd dsdddd</p>
         
           </div>
          
         </div>
    
    </div>

    <div class="card-element">
        
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative img-thumbnail element  ">
        <div class="col-auto d-none d-lg-block">
          <img  height="150px" width="120px" src="../../../assets/img/img_small_3.jpg" alt="...">
         </div>
         <div class="col p-4 d-flex flex-column position-static">
         
           <p class="card-text mb-auto">dsds dsdsd ddsd dsd s dsdsdsd dsdsds dsdsds dsdsdd dsdsdsd dsdddd</p>
       
         </div>
        
       </div>
  
  </div>

  <div class="card-element">
        
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative img-thumbnail element  ">
      <div class="col-auto d-none d-lg-block">
        <img  height="150px" width="120px" src="../../../assets/img/img_small_4.jpg" alt="...">
       </div>
       <div class="col p-4 d-flex flex-column position-static">
       
         <p class="card-text mb-auto">dsds dsdsd ddsd dsd s dsdsdsd dsdsds dsdsds dsdsdd dsdsdsd dsdddd</p>
     
       </div>
      
     </div>

</div>
      </div>

  </div>

  </div>

</div>
