
<div class="container-fluid ">
   <div class="row">

     <div class="col-md-11 principal">

        <div class="nav-scroller bg-narrow shadow-sm">
            <h2 class="title1">CAMPEONATO INTI RAYMI 2019</h2>
            <p class="title2">ASOC. DE GALLEROS CUZCO</p>
          </div>
  
      <div class="row">  
     <div class="col-md-7 first">
        <div class="container paragraph"> 
            <div class="blog-post ">
           
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              
              <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            
            </div>

         </div> 

         <div class="row">
          <div class="col-md-4">
              <div class="card mb-4 shadow-sm sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
              </div>
            </div>
          
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
              </div>
            </div>
          
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></svg>
              </div>
            </div>
          </div>

     </div>

     <div class="col-md-4 second">

        <div class="card mb-4 shadow-sm sm">
          <img  height="225px" width="100%" src="../../../assets/img/img_small_8.jpg" alt="...">
            <div class="card-body">
              <h4 class="card-title text-front tex-center">ASOC. DE GALLEROS CUZCO CAMPEONATO INTI RAYMI 2019</h4>
              <div class="d-flex justify-content-between align-items-center card-btn">
            
                <div class="text-right ">
                  <button type="button" class="btn btn-sm btn-secondary orange-btn">VER MÁS</button>
              
                </div>
               
              </div>
            </div>
          </div>

          <div class="p-4 mb-3 element rounded">
            <p class="mb-0 text-justify">Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <p class="mb-0 text-justify top">Etiam porta sem malesuada magna mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
    </div>

  </div>   


  </div>

   <div class="col-md-1">

    <app-sidebar></app-sidebar> 

   </div>
   </div>
</div>
