.home {
    margin-top: 80px;  
    margin-left:40px;
}

.gold {
color: #832008;  
}

.home-image{
    margin-top: 40px;
 }

 .bp{
    height: 800px;
  }

  
 .col-md-1{
    padding-right: 0;
  }

  .col-md-6{
    height: 750px !important;
  }

 
  .col-md-1{
    padding-right: 0;
  } 
  .bg-bp{
      background: url(../../../assets/img/editorial_back.png);
      background-repeat: no-repeat;
      background-size: cover;
     }