p{
  color:white;
  float: right !important;
 
   }

.gold{
    margin-top: 200px !important;
    color:white;
    list-style-type: none !important;
    margin-right: 10px !important;
  }

 
.home-image{
    margin-top: 5px;
    margin-right: 5px;   
  } 
 
  
.ht{

    margin-right: 5px;   
  } 
.link{
    margin-top: 5px;
    margin-right: 5px;  
    font-size: 13px !important; 
    color: white;
    text-decoration: none;
  }
  a{
    color: white !important;   
  } 
  a:hover{
    text-decoration: none; 
    color: white;  
  }

  .side{
     width: 110px;
     
     height: 100%;
    background-color: black;
    float: right !important;
   
     }   