p{
  color:white;
  float: right !important;
 
   }

.gold{
    
    color:white;
    list-style-type: none !important;
    margin-right: 10px !important;
  }

  .ul-nav{
    margin-top: 20px !important;
   
     }
 
.home-image{
    margin-top: 5px;
    margin-right: 5px;  
    margin-bottom: 40px !important; 
  } 
 
  
.ht{

    margin-right: 5px;   
  } 


  .side{
     width: 110px;
     height: 100%;
     background-color: black;
     /*float: right !important;*/
     position: fixed;
     z-index: 1;
     top: 0;
     right: 0;
     transition: 0.5s;
     }   

     /*.sidebar {
      height: 100%;
      width: 85px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      transition: 0.5s;
      overflow-x: hidden;
      padding-top: 60px;
      white-space: nowrap;
    } */ 

   ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: black;
  }
  
  li a {
    display: block;
    color: #D7D7D7;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 14px !important;
  }
  

  li a:hover {
  
    color: white;
  }
   
