
<div class="side">
<p><a routerLink="/home"><img class="home-image" height="80%" width="80%" src="../../../assets/img/mini_log.jpg" alt=""></a></p>

<div class="gold">
<p class="link"> <a  routerLink="/somos">Quiénes Somos</a></p>
<p class="link"> <a  routerLink="/editorial">Editorial</a></p>
<p class="link"> <a class="ht" routerLink="/historia">Historia</a></p><br/>

<p class="link"> <a  routerLink="/participantes" >Participantes</a></p>
<p class="link"> <a  routerLink="/campeonatos" >Campeonatos</a></p>
<p  class="link"> <a routerLink="/revista" >Revista</a></p><br/>
</div>




</div>


