.sidebar-menu {
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  transition: width .5s ease;
}

.sidebar-menu--open {
  transition-delay: .5s;
  width: 102px;
}

/* .home-image {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 40px !important;
} */

.sidebar-menu__container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu__item {
  transform: scale(0);
  transition: transform .5s ease;
}

.sidebar-menu--open .sidebar-menu__item {
  transition-delay: .9s;
  transform: scale(1);
}

.sidebar-menu__link {
  display: block;
  color: #d7d7d7;
  padding: 12px 8px;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
}

.sidebar-menu__link:hover {
  color: #fff;
}

.sidebar-menu__link i {
  font-size: 24px;
  margin-bottom: 4px;
}
