

  /* views */

  .current-section {
    background-color: cornflowerblue
  }
  .current-section::after { 
    content: "\039e";
    background-color: yellow; 
    color: red;
  
  }
  /* Style sidebar  */ 

  p.nav{
    color:white;
    float: right !important;
   
     }

   .grayOne{
  margin-bottom: 0;
   
     }  
  
  .gold{
      
      color:white;
      list-style-type: none !important;
      margin-right: 10px !important;
    }
  
    .ul-nav{
      margin-top: 20px !important;
     
       }
   
  .home-image{
      margin-top: 5px;
      margin-right: 5px;  
      margin-bottom: 40px !important; 
    } 
   
    
  .ht{
  
      margin-right: 5px;   
    } 
  
  
    .side{
       width: 110px;
       height: 100%;
       background-color: black;
    
       position: fixed;
       z-index: 1;
       top: 0;
       right: 0;
       transition: 0.5s;
       }   
  
   
     ul.nav {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100px;
      background-color: black;
    }
    
    li.nav2 a {
      display: block;
      color: #D7D7D7;
      padding: 8px 16px;
      text-decoration: none;
      font-size: 14px !important;
    }
    
  
    li.nav2 a:hover {
    
      color: white;
    }
     