<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        position: relative;
      }
    </style>
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!--video width="800px" autoplay muted loop id="myVideo">
      <source src="../../../assets/video/fondo_video.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video-->
    <div id="home" class="home bg-bp">
      <div class="cont">
        <span class="icon">
          <i class="fa fa-align-justify" (mouseover)="mouseover()"></i>
        </span>
        <app-inicio></app-inicio>
        <app-sidebar></app-sidebar>
      </div>
    </div>
    <div style="height: 150px">
      <div id="somos">
        <app-somos></app-somos>
      </div>
      <div id="editorial">
        <app-editorial></app-editorial>
      </div>
      <div id="historia">
        <app-historia></app-historia>
      </div>
      <div id="participantes">
        <app-participantes></app-participantes>
      </div>
      <div id="campeonatos">
        <app-campeonatos></app-campeonatos>
      </div>
      <div id="revista">
        <app-revista></app-revista>
      </div>
      <div id="section6">
        <app-footer></app-footer>
      </div>
    </div>
  </body>
</html>
