
<div class="container-fluid">

    <div class="row">
       
    </div>

    <div class="row">
      <div class="col-md-11">
        <div class="first">
        <div class="container-fluid fluid">
            <div class="row ">
              <div class="col-md-10 col-back">

                <h4 class="text-left text-front title-up">Campeón de Campeones 2016 - Seleccionados <i class="bi bi-align-center"></i></h4>
    
            </div>
                <div class="col-md-10">    
                  <p>  <strong class="text-front txt-left">16 Partipantes</strong>   
                    
                <span class="champ">            
                  <div class="btn-group">
                    <button type="button" class="btn btn-light border-btn">Campeonatos</button>
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split border-btn" data-toggle="dropdown">
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Campeonatos</a>
                      <a class="dropdown-item" href="#">Campeonatos</a>
                    </div>
                  </div>
                </span>       
                
                
                <span class="span-float">
                    
                  <div class="btn-group">
                    <button type="button" class="btn btn-light border-btn">Participantes</button>
                    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split border-btn" data-toggle="dropdown">
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Participantes</a>
                      <a class="dropdown-item" href="#">Participantes</a>
                    </div>
                  </div>
                </span>               
                </p>
                </div>
   
           </div>
            <div class="row first-row">
                <div class="col-md-4">
                  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <strong class="d-inline-block mb-2 text-front">Juan Diego Gonzalez-Virgil</strong>
                      <h6 class="mb-0 text-two">Nacional Abrham Wong de Cañete</h6>
                      <p class="card-text mb-auto">ssssssss sssssssssssssssss sssssssssssssss sssssssssssssssssssssssss</p>
                      <ngb-rating [(rate)]="currentRate"></ngb-rating>
                      <p class="parag">
                      <button type="button" class="btn btn-primary btn-sm bt back" (click)="goEntrevista()">Entrevista</button>
                      <small class="text-right"><strong class="orange" (click)="goParticipacion()">Participación</strong></small>
                    </p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                      <img  height="250px" width="200px" src="../../../assets/img/participante.jpg" alt="...">
                    </div>
                  </div>
                  </div>
                
                  <div class="col-md-4">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-front">Juan Diego Gonzalez-Virgil</strong>
                        <h6 class="mb-0 text-two">Nacional Abrham Wong de Cañete</h6>
                        <p class="card-text mb-auto">ssssssss sssssssssssssssss sssssssssssssss sssssssssssssssssssssssss</p>
                        <ngb-rating [(rate)]="currentRate"></ngb-rating>
                        <p class="parag">
                        <button type="button" class="btn btn-primary btn-sm bt back" (click)="goEntrevista()">Entrevista</button>
                        <small class="text-right"><strong class="orange" (click)=" goParticipacion()">Participación</strong></small>
                      </p>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <img  height="250px" width="200px" src="../../../assets/img/participante.jpg" alt="...">
                      </div>
                    </div>
                  </div>
                
                  <div class="col-md-4">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-front">Juan Diego Gonzalez-Virgil</strong>
                        <h6 class="mb-0 text-two">Nacional Abrham Wong de Cañete</h6>
                        <p class="card-text mb-auto">ssssssss sssssssssssssssss sssssssssssssss sssssssssssssssssssssssss</p>
                        <ngb-rating [(rate)]="currentRate"></ngb-rating>
                        <p class="parag">
                        <button type="button" class="btn btn-primary btn-sm bt back" (click)="goEntrevista()">Entrevista</button>
                        <small class="text-right"><strong class="orange" (click)=" goParticipacion()">Participación</strong></small>
                      </p>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <img  height="250px" width="200px" src="../../../assets/img/participante.jpg" alt="...">
                      </div>
                    </div>
                  </div>

            </div>


            <div class="row">
                <div class="col-md-4">
                  <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                      <strong class="d-inline-block mb-2 text-front">Juan Diego Gonzalez-Virgil</strong>
                      <h6 class="mb-0 text-two">Nacional Abrham Wong de Cañete</h6>
                      <p class="card-text mb-auto">ssssssss sssssssssssssssss sssssssssssssss sssssssssssssssssssssssss</p>
                      <ngb-rating [(rate)]="currentRate"></ngb-rating>
                      <p class="parag" >
                      <button type="button" class="btn btn-primary btn-sm bt back" (click)="goEntrevista()">Entrevista</button>
                      <small class="text-right"><strong class="orange" (click)=" goParticipacion()">Participación</strong></small>
                    </p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                      <img  height="250px" width="200px" src="../../../assets/img/participante.jpg" alt="...">
                    </div>
                  </div>
                  </div>
                
                  <div class="col-md-4">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-front">Juan Diego Gonzalez-Virgil</strong>
                        <h6 class="mb-0 text-two">Nacional Abrham Wong de Cañete</h6>
                        <p class="card-text mb-auto">ssssssss sssssssssssssssss sssssssssssssss sssssssssssssssssssssssss</p>
                        <ngb-rating [(rate)]="currentRate"></ngb-rating>
                        <p class="parag">
                        <button type="button" class="btn btn-primary btn-sm bt back" (click)="goEntrevista()">Entrevista</button>
                        <small class="text-right"><strong class="orange" (click)="goParticipacion()">Participación</strong></small>
                      </p>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <img  height="250px" width="200px" src="../../../assets/img/participante.jpg" alt="...">
                      </div>
                    </div>
                  </div>
                
                  <div class="col-md-4">
                    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                      <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-front">Juan Diego Gonzalez-Virgil</strong>
                        <h6 class="mb-0 text-two">Nacional Abrham Wong de Cañete</h6>
                        <p class="card-text mb-auto">ssssssss sssssssssssssssss sssssssssssssss sssssssssssssssssssssssss</p>
                        <ngb-rating [(rate)]="currentRate"></ngb-rating>
                        <p class="parag">
                        <button type="button" class="btn btn-primary btn-sm bt back" (click)="goEntrevista()">Entrevista</button>
                        <small class="text-right"><strong class="orange" (click)=" goParticipacion()">Participación</strong></small>
                      </p>
                      </div>
                      <div class="col-auto d-none d-lg-block">
                        <img  height="250px" width="200px" src="../../../assets/img/participante.jpg" alt="...">
                      </div>
                    </div>
                  </div>

            </div>
        </div>

        <nav aria-label="Page navigation example" >
          <ul class="pagination" >
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true"> <img class="imgl" height="40%" width="30%" src="../../../assets/img/arrow_blue2.png" alt="..."></span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#"><strong class="numb">1</strong></a></li> 
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true"><img class="imgr" height="22%" width="22%"  src="../../../assets/img/arrow_blue1.png" alt="..."></span>
              </a>
            </li>
          </ul>
        </nav>

        </div>

      </div>
 

      <div class="col-md-1">

        <app-sidebar></app-sidebar> 
      </div>
    </div>
</div>

