
<div class="container-fluid bg-bp ">

     <div class="row">

        <div class="col-md-6 first bp">

           <div class="home">   
            <h1 class="gold">QUIENES SOMOS</h1>
            <h6 class="gold">werden die kühnsten Ideen</h6>

            <p class="text">

                Mit uns werden die kühnsten Ideen lebendig und die spannendsten Visionen Wirklichkeit. 
                Wir setzen Ihre Botschaft sowohl online als auch im Print effektiv sowie innovativ um und schenken Ihrem Unternehmen so ein unverkennbares Gesicht. Mithilfe ausgeklügelter und durchdachter Marketing- und Imagekampagnen verhelfen wir Ihrem Unternehmen zu einem hohen Wiedererkennungswert und einem breiten Bekanntheitsgrad. Dies verschafft Ihnen einen unbezahlbaren Vorsprung gegenüber der Konkurrenz und verankert Ihr Unternehmen nachhaltig in den Köpfen der Menschen.

            </p>


            <p class="text">

                Mit uns werden die kühnsten Ideen lebendig und die spannendsten Visionen Wirklichkeit. Wir setzen Ihre Botschaft sowohl online als auch im Print effektiv sowie innovativ um und schenken Ihrem Unternehmen so ein unverkennbares Gesicht. Mithilfe ausgeklügelter und durchdachter Marketing- und Imagekampagnen verhelfen wir Ihrem Unternehmen zu einem hohen Wiedererkennungswert und einem breiten Bekanntheitsgrad. Dies verschafft Ihnen einen unbezahlbaren
                 Vorsprung gegenüber der Konkurrenz und verankert Ihr Unternehmen nachhaltig in den Köpfen der Menschen.

            </p>


            <h6 class="gold"> look at the navigation bar while scrolling</h6>

            <ul class="nav" class="gold">
                <li class="nav-item">
                  <a class="nav-link" href="#">1 WEBDESING</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">2 WENDESIGN</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">3 CORPORATE</a>
                </li>
               
              </ul>

        </div>
      </div>

        <div class="col-md-5">
            <img class="home-image" height="80%" width="90%" src="../../../assets/img/quienes_somos.jpg"  alt="">
        </div>
        <div class="col-md-1">
          <!--app-sidebar></app-sidebar--> 
        </div>
    </div>
     </div>

















